
/* Home.css or your stylesheet */
.headerContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   /* Set text color to white or another contrasting color */
}
body {
  margin: 0;
  padding: 0;
  
}